.site-header- {
    &brand {
        flex-shrink: 2;
        max-width: 205px;


        @include mb-min {
            flex-shrink: 0;
        }

        @include md-max {
            display: flex;
            align-items: center;
        }

        @media screen and (max-width: 340px) {
            max-width: 140px;
        }
    }

    &logo {
        width: 180px;
        height: 52px;

        @media screen and (max-width: 340px) {
            width: 140px;
            height: 40.44px;
        }
    }
}