.author-page {
    padding: 80px 0;

    @include sm-min {
        overflow: hidden;
    }

    &-photo-col {
        @include sm-min {
            order: 2;
        }
    }

    &-photo-wrap {
        box-shadow: 0 0 10px transparentize($black, 0.9);
        overflow: hidden;
        border-radius: 10px;
        margin-bottom: 20px;

        @include sm-min { 
            margin-bottom: 0;
        }
    }

    &-photo {
        background-color: $medium-gray;
        padding-top: 108%;
    }

    &-fun-fact {
        padding: 20px;

        @include sm-min {
            display: flex;
            align-items: center;
        }

        @include md-min {
            padding: 20px 30px;
        }

        @include lg-min {
            padding: 20px 35px;
        }
    }

    &-fact {
        @include sm-min {
            width: 70%;
        }
    }

    &-bio-col {
        @include lg-min {
            padding-right: 70px;
        }

        h3 {
            font-size: 28px;
        }
    }

    &-name {
        margin-bottom: 10px;
    }

    &-position {
        color: $pale-green;
    }

    &-back-button {
        margin-top: 30px;
    }

    &-posts {
        margin-top: 80px;
    }

    &-posts-title-box {
        background-color: $pale-green;
		padding: 20px;
		position: relative;
		margin-bottom: 20px;

		@include sm-min {
			background-color: none;
			padding: 50px 30px;
			margin-bottom: 0;
		}

		@include lg-min {
			padding: 50px 0;

			&:before {
				content: '';
				position: absolute;
				left: calc(-1 * (100vw - 1260px) / 2);
				right: -100px;
				top: 0;
				bottom: 0;
				background-color: $pale-green;
			}
		}
    }

    &-posts-title {
        position: relative;
    }

    &-posts-col {
        padding: 0 25px;

        @include lg-min {
            padding-top: 75px;
        }
    }
}