.services-tiles- {
    &cta-button {
        display: flex;
		box-shadow: 0 2px 10px transparentize($black, 0.9);
		border-radius: 10px;
		position: relative;
		height: 100%;
		text-align: center;
		justify-content: center;
		align-items: center;
		font-size: 32px;
		font-family: $dm-serif-display;

		@media screen and (max-width: 400px) {
			font-size: 20px;
		}
    }

    &col {
        padding: 20px;

        @include sm-max {
            flex: 0 0 50%;
            max-width: 50%;
            justify-content: center;
        }

        @include mb-max {
            flex: 0 0 100%;
            max-width: 100%;
        }
    }
}