.polaroid-text {
    &-vertical-one {
        transform: rotate(-3deg);
		width: 38%;
		margin-top: 12%;
		transition: transform 0.4s ease-in-out;

		&:hover {
			transform: rotate(0) scale(1.15);
			position: relative;
			z-index: 2;
		}
    }

    &-vertical-two {
        transform: rotate(7deg);
		width: 38%;
		margin-top: -60%;
		margin-left: 39%;
		position: relative;
		z-index: 1;
		transition: transform 0.4s ease-in-out;

		&:hover {
			transform: rotate(0) scale(1.15);
			position: relative;
			z-index: 2;
		}
    }

    &-horizontal {
        transform: rotate(-5deg);
		width: 52%;
		margin-left: 45%;
		transition: transform 0.4s ease-in-out;

		&:hover {
			transform: rotate(0) scale(1.15);
			position: relative;
			z-index: 2;
		}
    }

    &-vertical-frame {
        background-image: url('/img/polaroid-photo-vertical.png');
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center center;
		padding-top: 132.2%;
		position: relative;
    }

    &-vertical-image {
        position: absolute !important;
		left: 4.5%;
		right: 20%;
		top: 4%;
		bottom: 5%;
    }

    &-vertical-caption {
        transform: rotate(-90deg);
		position: absolute;
		left: 29%;
		bottom: 44%;
		color: hsl(220, 59%, 29%);
		font-size: 12px;
		letter-spacing: 1.06px;
		font-family: $my-handwriting;
		text-transform: uppercase;
		width: 120%;

        * {
            @include sm-min {
                font-size: 20px;
            }
    
            @include md-min {
                font-size: 28px;
            }
    
            @include lg-min {
                font-size: 38px;
            }
        }

    }

    &-horizontal-frame {
        background-image: url('/img/polaroid-photo-horizontal.png');
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center center;
		padding-top: 75.6%;
		position: relative;
    }

    &-horizontal-image {
        position: absolute !important;
		left: 5%;
		right: 4%;
		top: 4.5%;
		bottom: 19.5%;
    }

    &-horizontal-caption {
        position: absolute;
		left: 5%;
		bottom: 0;
		color: hsl(220, 59%, 29%);
		font-size: 12px;
		letter-spacing: 1.06px;
		font-family: $my-handwriting;
		text-transform: uppercase;
		width: 95%;

        * {
            @include sm-min {
                font-size: 20px;
            }
    
            @include md-min {
                font-size: 28px;
            }
    
            @include lg-min {
                font-size: 38px;
            }
        }
    }
}