.services-block {
    &-icon-col {
        position: relative;

        &:before {
			content: '';
			position: absolute;
			background-image: url('/img/services-arrow-left.svg');
			background-size: 264px 99px;
			background-position: center center;
			background-repeat: no-repeat;
			width: 264px;
			height: 99px;
			left: 50%;
			top: 0;
			display: none;

			@include sm-min {
				display: block;
			}
		}

        @include sm-min {
            padding-top: 48px;
        }
    }

    &-icon {
        width: 42px;
		height: 42px;
    }

    &-icon-boxwrap {
        max-width: 150px;

        @include sm-min {
            max-width: none;
        }
    }

    &-icon-box {
        padding-top: 100%;
		border-radius: 10px;
		box-shadow: 0 2px 10px transparentize($black, 0.9);
		position: relative;
		background-color: $white;
    }

    &-icon-wrap {
        position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		padding: 40px;
		display: flex;
		justify-content: center;
		align-items: center;
    }

    &-content {
        padding-top: 20px;

        @include sm-min {
            padding-top: 120px;
            padding-left: 30px;
        }
    }

    &-service {
        margin-bottom: 40px;

        &-right {
            .services-block-icon-col {
                &:before {
					background-image: url('/img/services-arrow-right.svg');
					left: unset;
					right: 50%;
				}

                @include sm-min {
                    order: 2;
                }
            }

            .services-block-content {
                @include sm-min {
                    padding-left: 20px;
                    padding-right: 30px;
                    text-align: right;
                }
            }
        }
    }
}