.page-header {
    background-color: $light-gray;

    &-has-checklist {
        margin-bottom: 75px;
    }

    &-inner {
        padding-top: 20px;
        padding-bottom: 40px;

        &:after {
            content: '';
			display: block;
			background-position: center center;
			background-image: url('/img/page-header-triangles.svg');
			background-size: 43px 7px;
			background-repeat: no-repeat;
			width: 43px;
			height: 7px;
			margin-top: 10px;
        }
    }
}