.scrolling-logos {
    &-logo-wrap {
        margin-right: 70px;
    }
    &-logo {
		max-height: 50px;
		width: auto;
		height: auto;
		max-width: 250px;
		transition: filter 0.2s ease-in-out;
		filter: invert(65%) sepia(22%) saturate(0%) hue-rotate(183deg) brightness(118%) contrast(94%);
	}

    &-logo-link {

		&:hover {
			.scrolling-logos-logo {
				filter: none;
			}
		}
	}
}