.fifty-video {

    &-container {
        position: relative;

        @include sm-min {
            padding-bottom: 40px;

            &:before {
				content: '';
				position: absolute;
				left: 20px;
				right: 25%;
				bottom: 0;
				height: 40px;
				border-bottom-left-radius: 10px;
				border-bottom-right-radius: 10px;
				border-left: 2px solid $medium-gray;
				border-right: 2px solid $medium-gray;
				border-bottom: 2px solid $medium-gray;
			}
	
			&:after {
				content: '';
				position: absolute;
				right: calc(25% - 5px);
				bottom: 34px;
				background-image: url('/img/text-quote-arrow.svg');
				width: 12px;
				height: 12px;
				background-size: 12px 12px;
				background-repeat: no-repeat;
				background-position: center center;
			}
        }
    }

    &-content {
        margin-bottom: 20px;
        position: relative;

        @include lg-min {
            padding-right: 70px;
        }
    }

    &-image {
        padding-top: 51%;
        height: 100%;
    }

    &-video-link {
        display: block;
		position: relative;
		height: 100%;
		padding-top: 51%;

        &:before {
			content: '';
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			background-color: transparentize($black, 0.8);
			opacity: 0;
			transition: opacity 0.2s ease-in-out;
		}

		&:hover {
			&:before {
				opacity: 1;
			}
		}
    }

    &-video-play {
        position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		margin: auto 0;
		background-image: url('/img/video-play-triangles.svg');
		background-size: contain;
		background-repeat: no-repeat;
		width: 110px;
		height: 111px;
		display: block;
		color: $white;
		font-family: $dm-serif-display;
		font-size: 18px;
		padding-top: 30px;
		padding-left: 30px;
    }

    &-video-wrap {
        box-shadow: 0 0 10px transparentize($black, 0.9);
		border-radius: 10px;
		background-color: $white;
		height: 100%;
		display: flex;
		flex-direction: column;
		overflow: hidden;
    }

    &-title-wrap {
        padding: 20px;
    }

    &-video-title {
        font-size: 32px;

        @include sm-min {
            font-size: 38px;
        }
    }
}