.computer-screenshot {
    overflow: hidden;

    &-container {
        padding: 0;
    }

    &-heading-right {
        text-align: right;
    }

    &-computer {
        background-image: url('/img/computer-screenshots-computer.png');
		padding-top: 60%;
		// width: 100%;
		position: relative;
        // margin-top: 40px;

		@include sm-min {
			margin-bottom: 0;
		}

        @include mb-max {
            padding-top: 90%;
        }
    }

    &-computer-screen {

		position: absolute !important;
		left: 18.7%;
		right: 18.7%;
		top: 2.8%;
		bottom: 36.5%;
        // z-index: 3;
        border-radius: 1px;

        @include mb-max {
            top: 2.85%;
            bottom: 36.4%;
            left: 3%;
            right: 3%;
        }
    }
}