.points-links {
    &-point {
        border-top: 1px solid $medium-gray;
		margin-bottom: 0;
		letter-spacing: 0.5px;
		font-weight: 100;
		padding: 20px;
		padding-left: 50px;
		position: relative;

		&:before {
			content: '•';
			position: absolute;
			left: 20px;
			top: 20px;
		}

        @include sm-min {
            padding: 25px 30px;
			padding-left: 60px;
			display: flex;
			align-items: center;
			min-height: 110px;

			&:before {
				top: 30px;
				left: 30px;
			}
        }
    }

    &-button {
        margin-top: 20px;
		text-transform: uppercase;
		color: $pale-green;
		letter-spacing: 0.1125em;
		display: flex;
		align-items: center;
        justify-content: center;

        @include mb-min {
            justify-content: space-between;
        }

		&:after {

            @include mb-min {
                content: '';
                background-image: url('/img/button-arrow.svg');
                background-size: 47px 13px;
                background-repeat: no-repeat;
                background-position: center center;
                width: 47px;
                height: 13px;
                margin-left: 20px;
                flex-shrink: 0;
            }
		}

        @include sm-min {
            margin-top: 0;
			width: 54%;
			position: absolute;
			right: -54%;
			font-size: 24px;
			padding: 30px 20px;
			min-width: 0;
        }
    }
}