.site-footer-quick-links {
    list-style-type: none;
    margin: 0;
    padding: 0;

    & > li {
        border-bottom: 1px solid $medium-gray;
        margin: 0;

        & > a {
            display: block;
            padding: 15px 20px;
            color: $gray;
            font-weight: 100;
            letter-spacing: 0.44px;
            font-size: 1rem;

            &:hover, .site-footer-quick-links > li > a:focus {
                background-color: $light-gray;
                color: #b36441;
            }

            &:last-child {
                border-bottom: none;
            }
        }
    }
}