.related-portfolio-items {
    &-item {
        padding: 10px;
        width: 25%;

		@include sm-max {
			width: 50%;
		}

		@include mb-max {
			width: 100%;
		}
    }
}

.portfolio-item-compact {
    padding-top: 138%;
	position: relative;
	border-radius: 10px;
	overflow: hidden;
	background-color: $medium-gray;
	display: block;

	&:hover {
		.portfolio-item-compact-image {
			filter: none;
		}

		.portfolio-item-compact-triangle {
			&:after {
				border-right-color: darken($green, 10%);
			}
		}
	}

    &-image {
        position: absolute !important;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		filter: grayscale(100%);
		// transition: filter 0.2s ease-in-out;
    }

    &-triangle {
        width: 0;
		height: 0;
		padding-top: 80%;
		padding-right: 80%;
		overflow: hidden;
		position: absolute;
		bottom: 0;
		right: 0;

		&:after {
			content: '';
			display: block;
			width: 0;
			height: 0;
			margin-top:-500px;
			margin-right: -500px;
			border-top: 500px solid transparent;
			border-bottom: 500px solid transparent;
			border-right: 500px solid $green;
			transition: border-color 0.2s ease-in-out;

            @include sm-max {
                border-right: 600px solid $green;
            }

            @media screen and (max-width: 600px) {
                border-right: 500px solid $green;
            }
		}
    }

    &-logo {
        position: absolute;
		right: 20px;
		bottom: 20px;
		width: 45%;
		height: 20%;
		background-position: bottom right;
    }
}