.services-tiles {

    &-align-items-center {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        // margin-right: -20px;
        // margin-left: -20px;

        @include md-max {
            flex-direction: column;
            align-items: flex-start;
        }
    }
    &-heading-col {
		margin-bottom: 10px;
        width: 33.333%;

		@include md-min {
			order: 2;
			margin-bottom: 0;
			padding-left: 50px;
		}
	}

	&-preheading {
		font-family: $avenir;
		font-weight: 500;
		font-size: 24px;
		letter-spacing: 2.7px;
		line-height: 32px;
		display: block;
		text-transform: uppercase;
		margin-bottom: 10px;
	}

	&-heading {
		line-height: 1;
		
		@include lg-min {
			font-size: 100px;
		}
	}

	&-button {
		margin-top: 15px;
	}

	&-col {
		padding: 20px;
	}

    &-tile-col {
        width: 66.667%;
        order: 1;

        @include md-max {
            width: 100%;
        }
    }

    &-row {
        display: flex;
        flex-wrap: wrap;
        margin-right: -20px;
        margin-left: -20px;
    }
}