.team-block {
    &-col {
        padding: 15px 5px;
    }

    &-member {
        transition: background-color 0.2s ease-in-out;
		display: block;
		border-radius: 10px;
		padding: 15px;

		&:hover {
			background-color: transparentize($medium-gray, 0.7);
		}
    }

    &-image {
        background-color: $medium-gray;
        padding-top: 140%;
        border-radius: 10px;
        margin-bottom: 20px;
    }

    &-name {
        span {
            &:first-child {
				display: block;
				font-family: $dm-serif-display;
				font-size: 38px;
				color: $dark-gray;
				line-height: 1;
			}

            &:not(:first-child) {
                color: $pale-green;
                text-transform: uppercase;
                font-weight: 500;
                font-size: 24px;
                letter-spacing: 2.7px;
            }

            &.team-block-position {
                color: $green;
				font-weight: 400;
				font-size: 12px;
				letter-spacing: 1.5px;
                text-transform: none;
				display: block;
            }
        }
    }
}