.team-block {
    &-inner {
        position: relative;
    }

    &-heading-wrap {
        &:before {
			content: '';
			position: absolute;
			right: 0;
			top: 0;
			width: 50%;
			height: 335px;
			opacity: 0;
			background-color: $green;

			@include sm-min {
				opacity: 1;
			}

			@include md-min {
				width: 37%;
			}
		}
    }

    &-heading {
        position: relative;
		font-size: 38px;
		color: $white;
		padding: 20px;
		text-align: right;
		background-color: $green;

		@include sm-min {
			background-color: transparent;
			padding: 0;
			padding-top: 20px;
		}
    }
}