.icon-list {
    &-box {
        background-color: $white;
        border-radius: 10px;
        box-shadow: 0 2px 10px transparentize($black, 0.9);
    }

    &-heading-wrap {
        padding: 20px;

        @include sm-min {
            padding: 30px;
        }
    }

    &-heading {
        @include sm-min {
            font-size: 38px;
        }
    }

    &-list {
        list-style-type: none;
        margin: 0;
        padding: 0
    }
}