.mini-contact {
    position: relative;

    &:before {
        content: '';
		background-image: url('/img/mini-faq-triangle.svg');
		background-size: contain;
		background-repeat: no-repeat;
		background-position: bottom left;
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		width: 50%;
		display: none;

		@include sm-min {
			display: block;
		}
    }

    &-container {
        position: relative;
    }

    &-heading-col {
        margin-bottom: 20px;
        background-color: $light-gray;
        padding: 20px;

        @include sm-min {
            margin-bottom: 0;
            background-color: transparent;
            padding: 60px 20px;
        }
    }

    &-heading {
        font-size: 48px;

        @include lg-min {
            font-size: 100px;
            line-height: 94px;
            margin-bottom: 40px;
        }
    }

    &-subheading {
        color: $orange;
    }

    &-form-title {
        font-size: 38px;
    }

    .gform_button {
        width: 100%;
    }
}