.forty-image {
    &-image {
        padding-top: 50%;

        @include sm-min {
            padding-top: 0;
        }
    }

    &-image-right {
        @include sm-min {
            order: 2;
        }
    }

    &-content {
        padding: 20px;

        @include sm-min {
            padding: 40px;
        }

        @include lg-min {
            padding: 60px;
        }
    }
}