.fifty-quote {
    &-container {
        position: relative;

        @include sm-min {
            padding-bottom: 40px;

            &:before {
                content: '';
				position: absolute;
				left: 20px;
				right: 25%;
				bottom: 0;
				height: 40px;
				border-bottom-left-radius: 10px;
				border-bottom-right-radius: 10px;
				border-left: 2px solid $medium-gray;
				border-right: 2px solid $medium-gray;
				border-bottom: 2px solid $medium-gray;
            }

            &:after {
                content: '';
				position: absolute;
				right: calc(25% - 5px);
				bottom: 34px;
				background-image: url('/img/text-quote-arrow.svg');
				width: 12px;
				height: 12px;
				background-size: 12px 12px;
				background-repeat: no-repeat;
				background-position: center center;
            }
        }
    }

    &-content {
        margin-bottom: 20px;
        position: relative;
        width: 100%;
        padding-right: 20px;
        padding-left: 20px;
        
        @include sm-min {
            flex: 0 0 50%;
            max-width: 50%;
        }
    }

    &-quote {
        background-color: $pale-green;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 20px;
		position: relative;

        &-col {
            width: 100%;
            padding-right: 20px;
            padding-left: 20px;
            position: relative;
            
            @include sm-min {
                flex: 0 0 50%;
                max-width: 50%;
            }
        }

        p {
            font-size: 20px;
			letter-spacing: 0.1125em;
			line-height: 1.33;
			font-weight: 900;
			text-transform: uppercase;

            @include sm-min {
                font-size: 24px;
            }
        }

        @include sm-min {
            padding: 40px;
        }

        @include md-min {
            padding: 60px;
        }

        @include lg-min {
            padding: 80px 90px;
        }
    }
}