.full-image-video {
    &-inner {
        position: relative;
    }

    &-play-link {
        position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		display: flex;
		align-items: center;
        z-index: 3;

		&:hover {
			background-color: transparentize($black, 0.8);
		}
    }

    &-play {
        background-image: url('/img/video-play-triangles.svg');
		background-size: contain;
		background-repeat: no-repeat;
		width: 148px;
		height: 150px;
		display: block;
		color: $white;
		font-family: $dm-serif-display;
		font-size: 28px;
		padding-top: 40px;
		padding-left: 40px;

		@include sm-min {
			width: 219px;
			height: 222px;
			font-size: 38px;
			padding-left: 60px;
			padding-top: 55px;
		}
    }

    &-image {
        width: 100%;
    }
}