.numbered-list {
    &-list-item {
        border-bottom: 1px solid $medium-gray;
		padding: 20px;
		position: relative;
		display: flex;
		align-items: center;
        margin-bottom: 0;
        background-image: linear-gradient(to right, $pale-green 0 80px, transparent 80px 100%);

		@include sm-min {
			padding: 30px 20px;
            background-image: linear-gradient(to right, $pale-green 0 80px, transparent 80px 100%);
		}

        &-content {
            @include mb-max {
                & > h1, & > h2, & > h3, & > h4, & > h5, & > h6 {
                    word-break: break-word;
                    letter-spacing: 0.08em;
                }
            }
        }
    }

    &-list-number {
        color: $white;
        font-family: $dm-serif-display;
        font-size: 58px;
        width: 80px;
        flex-shrink: 0;
        position: relative;
        left: 5px;
    }
}