.numbered-list {
    &-intro-content {
        margin-bottom: 30px;
    }

    &-left-col {
        @include lg-min {
            padding-left: calc((100vw - 1300px) / 2);
        }

        @include mb-max {
            padding: 0 !important;
        }
    }

    &-image {
        width: 100%;
        object-fit: none !important;
        height: auto !important;
        max-width: 100% !important;
        max-height: 100% !important;
    }

    &-image-col {
        padding-right: 0;
    }

    &-list {
        list-style-type: none;
        position: relative;
        padding: 0;
        margin: 0;
    }
}