.featured-portfolio-items {
    @include md-min {
        display: flex;
        align-items: center;
    }

    &-heading-box {
        background-color: $orange;
		padding: 20px;
		margin-bottom: 20px;

		@include sm-min {
			padding: 40px 30px;
			margin-bottom: 0;
		}

		@include md-min {
			max-width: 375px;
			padding: 115px 40px;
			padding-right: 140px;
		}
    }

    &-heading {
        color: $white;
        font-size: 38px;
        margin-bottom: 0;

        @include sm-min {
            margin-bottom: 40px;
        }
    }

    &-arrow {
        position: relative;
		height: 2px;
		background-color: $white;
		display: none;

		@include md-min {
			display: block;
		}

		&:after {
			content: '';
			position: absolute;
			background-image: url('/img/featured-portfolio-arrow.svg');
			background-position: center center;
			background-repeat: no-repeat;
			background-size: 12px 12px;
			width: 12px;
			height: 12px;
			right: -4px;
			top: -5px;
		}
    }

    &-items-wrap {
        margin: -10px;

		@include sm-min {
			display: flex;
			margin-top: -60px;
			margin-left: 10px;
			margin-right: 10px;
		}

		@include md-min {
			width: 100%;
			margin: -10px;
			margin-left: -115px;
		}
    }

    &-item {
        padding: 10px;
        width: 100%;
    }
}